.root {
    --primaryColor: #E5E5E5;
    --grey: #1F1534;
}

body {
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-out;
    background-color: var(--primaryColor);
}

.container {
    width: 80%;
    margin: 0 auto;
}

#nav {
    margin-top: 30px;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1F1534;
    opacity: 50%;
}

.nav-links a:hover {
    color: black;
    opacity: 100;
}

.nav-links .active {
    color: black;
    background-color: var(--grey);
    opacity: 100;
}

#nav-logo {
    display: flex;
    justify-content: space;
}

#nav-logo p {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
}

#nav-logo div {
    display: flex;
    background-color: #458FF6;
    border-radius: 50%;
    height: 41px;
    width: 41px;
    text-align: center;
    margin-top: 20px;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}

#nav-logo div span {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: white;
}

#nav-logo p::after {
    content: "";
    color: black;
    position: absolute;
    width: 10px;
    height: 5px;
}

#virtual {
    font-family: 'Mulish', sans-serif;
    display: block;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    Width: 427px;
    Height: 112px;
    top: 283px;
    Left: 190px;
    /* position: absolute; */
}

p {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
}

#header {
    min-height: 80vh;
    background-image: url(../imgs/trafalgar-header\ illustration\ 1.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    background-position-x: 644px;
    display: flex;
}

.left-side p {
    margin-top: 25px;
    Width: 445px;
    Height: 96px;
    /* position: absolute; */
}

.div-button {
    width: 200px;
    height: 56px;
    background: #458FF6;
    border-radius: 55px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Consult\ today.png);
    background-position: center;
    /* position: absolute; */
}

.left-side {
    margin-top: 284px;
    display: flex;
    flex-direction: column;
}

.section1 {
    margin-top: 20px;
    margin-bottom: 200px;
}

.head {
    margin: auto;
    width: 700px;
    height: 56px;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-bottom: 20px;
}

#first {
    margin-top: 50px;
    /* height: 80vh; */
}

.provid {
    font-family: 'Mulish', sans-serif;
    display: block;
    width: 952px;
    height: 60px;
    font-size: 18px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.elements {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

.element {
    width: 350px;
    height: 354px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    padding-top: 80px;
}

.element-head {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 50px;
}

.element-para {
    margin-top: 50px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 266px;
    height: 84px;
}

.learn-more {
    width: 200px;
    text-align: center;
    margin: auto;
}

.learn-more p {
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    width: 200px;
    height: 56px;
    align-content: center;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
}

#first {
    background-image: url(../imgs/Vector\ \(4\).png);
    background-repeat: no-repeat;
}

.first-half {
    /* padding-top: 80px; */
    display: flex;
}

.second-half {
    padding-top: 80px;
    display: flex;
    margin-bottom: 50px;
}

.head2 {
    margin: auto;
    width: 481px;
    height: 112px;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 5px
}

.head2dimensions {
    height: 96px;
    width: 254px;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 20px;
}

.element-parag {
    margin-top: 50px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 450px;
    height: 120px;
}

.element2 {
    margin-left: 250px;
}

.element3 {
    margin-right: 250px;
}

.learn-more2 {
    width: 200px;
    text-align: center;
}

.learn-more2 p {
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    width: 200px;
    height: 56px;
    align-content: center;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
}

#card {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    height: 425px;
    width: 1120px;
    left: 242px;
    top: 3724px;
    border-radius: 24px;
    margin: auto;
    padding-top: 15px;
}

#customer {
    border-radius: nullpx;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    /* margin: auto; */
    color: white;
    margin-top: 50x;
    text-align: center;
}

.profile {
    display: flex;
    width: 400px;
    margin-left: 118px;
    margin-top: 100px;
}

.profile img {
    border-radius: 50%;
    margin-top: 20px;
}

.heavy {
    height: 48px;
    width: 184px;
    left: 530px;
    top: 3960px;
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.light {
    height: 48px;
    width: 119px;
    left: 530px;
    top: 3992px;
    border-radius: nullpx;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.name {
    margin-left: 25px;
}

.vision {
    margin-right: 30px;
    width: 420px;
    left: 824px;
    top: 3940px;
    border-radius: nullpx;
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 115px;
    line-height: 30px;
    margin-left: 30px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#third {
    margin-top: 20px;
}

.medical-element {
    width: 350px;
    height: 512px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    padding-top: 80px;
}

.medical-head {
    width: 251px;
    height: 64px;
    font-family: 'Mulish', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.element-medical {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 266px;
    height: 84px;
    line-height: 28px;
    color: #7D7987;
}

.learn-more3 {
    text-align: start;
}

.learn-more3 {
    text-align: start;
    color: #4089ED;
}

.logo-align {
    display: flex;
    align-content: center;
}

#third {
    background-image: url('../imgs/Vector\ \(5\).png');
    background-repeat: no-repeat;
    background-position-x: right;
}

footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    height: 50vh;
    display: flex;
    width: auto;
}

.footer-logo {
    padding-top: 50px;
    margin-left: 100px;
}

.line {
    height: 2px;
    width: 56px;
    background-color: black;
    margin: auto;
    border-radius: 5px;
}

.line2 {
    height: 2px;
    width: 56px;
    background-color: black;
    /* margin: auto; */
    border-radius: 5px;
}

.line3 {
    height: 2px;
    width: 56px;
    background-color: white;
    margin: auto;
    border-radius: 6px;
}

#nav-footer {
    display: flex;
    justify-content: space;
}

#nav-footer p {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    color: white;
}

#nav-footer div {
    display: flex;
    background-color: white;
    border-radius: 50%;
    height: 41px;
    width: 41px;
    text-align: center;
    margin-top: 20px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
}

#nav-footer div span {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #458FF6;
}

.nav-text {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.nav-text .first {
    height: 84px;
    width: 391px;
    left: 190px;
    top: 5614px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

li {
    list-style: none;
    margin-bottom: 5px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

ul {
    margin: -3px;
}

.position {
    margin-top: 50px;
    margin-left: 33px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-links {
    width: 350px;
    margin-left: 100px;
}